<div class="container">
<h1>My Tasks</h1>
<div style="margin-bottom: 50px;">
<% @tasks.each do |task| %>

 <input type="checkbox" class="red-input" name="task_<%= task.id %>" <%= task.completed ? "checked" : "" %> />
    <label for="task_<%= task.id %>" id="checkbox_label"><%= link_to task.title , task_detail_path(task) %></label></br>

<% end %>
</div>

<%# link_to task.title , task_details_path(task) %>
<%= link_to "+ Add a new task", new_task_path, class: "btn btn-primary"%>
</div>
